.learnMoreBtn {
  background: #2c8bf4;
  border-radius: 0.625rem 0.625rem 0 0;
  width: 8.125rem;
  height: 2.188rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  transition: 0.25s linear;
}

.learnMoreBtn:hover {
  cursor: pointer;
  background-color: #1f7ade;
}