@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

@layer components {
  .btn {
    @apply flex justify-evenly items-center font-bold px-5
      bg-opacity-95 min-w-[7rem] rounded-md shadow-btn duration-200 ease-linear
      cursor-pointer  hover:shadow-btn-hovered
  }

  .btn-blue-filled {
    @apply bg-jb-textlink text-white shadow-lg hover:bg-jb-btn-hovered
  }

  .btn-blue {
    @apply border-l-[5px] border-l-jb-blue text-jb-blue bg-white shadow-md
      hover:bg-jb-blue hover:text-white
  }

  .btn-red {
    @apply border-l-[5px] border-l-jb-red text-jb-red bg-white shadow-md
      hover:bg-jb-red hover:text-white
  }
  
  .btn-green {
    @apply border-l-[5px] border-l-jb-green text-jb-green bg-white shadow-md
      hover:bg-jb-green hover:text-white
  }

  .btn-dark-blue {
    @apply border-l-[5px] border-l-jb-dark-blue text-jb-dark-blue bg-white shadow-md
      hover:bg-jb-dark-blue hover:text-white
  }

  .hover-anim {
    @apply transform transition duration-200 hover:scale-105 cursor-pointer
  }

}
