/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./styles/container.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.container_pageContainer__pRYgv {
  max-width: 1140px;
  width: 100%;
  padding: 20px;
  margin: auto;
}
