{
  "root": true,
  "plugins": ["simple-import-sort"],
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "import/order": "off", // disabled for simple-import-sort plugin
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function", "unnamedComponents": "arrow-function" }],
    "react/require-default-props": ["off"], // off since we have typescript instead
    "simple-import-sort/imports": ["error", {
      "groups": [
          [
              // react based packages
              "^react",
              // packages
              "^@?\\w",
              // absolute imports
              "^(assets|components|config|hooks|pages|reducers)",
              // absolute path or other imports that is not matched by the other groups
              "^",
              // relative imports
              "^\\.",
              // side effect imports
              "^\\u0000"
            ]
      ]
  }],
  "simple-import-sort/exports": ["error"]
  // "react-hooks/exhaustive-deps": ["error"],
  // "react-hooks/rules-of-hooks": ["error"] // Checks rules of Hooks
  }
}
  