@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

@layer components {
  .btn {
    @apply flex justify-evenly items-center font-bold px-5
      bg-opacity-95 min-w-[7rem] rounded-md shadow-btn duration-200 ease-linear
      cursor-pointer  hover:shadow-btn-hovered;
  }

  .btn-blue-filled {
    @apply bg-jb-textlink text-white shadow-lg hover:bg-jb-btn-hovered;
  }

  .btn-blue {
    @apply border-l-[5px] border-l-jb-blue text-jb-blue bg-white shadow-md
      hover:bg-jb-blue hover:text-white;
  }

  .btn-red {
    @apply border-l-[5px] border-l-jb-red text-jb-red bg-white shadow-md
      hover:bg-jb-red hover:text-white;
  }

  .btn-green {
    @apply border-l-[5px] border-l-jb-green text-jb-green bg-white shadow-md
      hover:bg-jb-green hover:text-white;
  }

  .btn-dark-blue {
    @apply border-l-[5px] border-l-jb-dark-blue text-jb-dark-blue bg-white shadow-md
      hover:bg-jb-dark-blue hover:text-white;
  }

  .hover-anim {
    @apply transform transition duration-200 hover:scale-[1.03] cursor-pointer;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Assistant', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  @apply bg-jb-background dark:bg-jb-dark-background;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 100;
}

/* Using css instead of tailwind to override the div from quill */
.ql-editor {
  height: 40vh !important;
  font-size: 12pt;
}

.ql-toolbar.ql-snow {
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  width: 100%;
}
